
@media screen and (min-width: 320px){
    #testimonial .testimonial-wrapper{
        margin: 0 auto;
    }
    ul.social{
        justify-content: center;
    }
    .order-1{
        order:1
    }
    .order-2{
        order:2
    }
    button.menu-toggle.navbar-toggler{
        margin: 0 auto;
    }
    #banner .gform_footer.top_label{
        width: auto;
    }
    ul.left-footer{
        text-align: center;
    }
    .site-footer p{
        text-align: center;
    }
    nav ul>li.menu-item{
        display: block;
    }
    #section-3 .left-section-3,
    #section-5 .left-section-5
    {
        padding: 3rem;
    }
    #section-4 .right-section-4{
        padding: 3rem;
    }
}
@media screen and (min-width: 992px){
    .order-1,.order-2{
        order:unset;
    }
    ul.left-footer{
        text-align: unset;
    }
    .site-footer p{
        text-align: unset;
    }
    nav ul>li.menu-item{
        display: inline-block;
    }
    #section-3 .left-section-3,
    #section-5 .left-section-5
    {
        padding: 7rem;
    }
    #section-4 .right-section-4{
        padding: 7rem;
    }
    ul.social{
        justify-content: end;
    }
}